  html {
  height:120vh;
width: 100vw;
  }

  :root {
    --blue: #dbeaff;
    --yellow: #fffaea;
    --pink: #fceafa;
    --brown: #35281e;
    --bgborder: var(--brown);
    --anchorshadow: 0 0 1px #d98cd9, 0 0 2px #ec93ec, 0 0 4px #ffafff, 0 0 8px #eb9bff, 0 0 12px #e381ff;
    --bggradient: linear-gradient(160deg, var(--blue) 18%, var(--yellow) 51%, var(--pink) 81%);
    --bggradient-dark: linear-gradient(160deg, #AD1A6B, #9823e7, #AD1A6B);
    --yellowfocus: #ffebe4;
    --color: var(--brown);
 
  }

  :root[data-theme='dark'] {
    --bggradient: var(--bggradient-dark);
    --blue: #AD1A6B;
    --yellow: #E7A523;
    --pink: #C16B1F;
    --bgborder: #fffaea;
    --color: #fffaea;
  }

  body {
    font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", Avenir, "Nimbus Sans L", Roboto, Noto, "Segoe UI", Arial, Helvetica, "Helvetica Neue", sans-serif;
    font-weight: bold;
 height: auto;
    position: absolute;
    margin: 0;
    background: var(--bggradient);
    color: var(--color);
    overflow-y: scroll;
    width: 100%;
  }

  #siteContainer,
  summary {

    margin: 0 auto;
    border: 2px solid var(--bgborder);
    border-radius: var(--round);
    max-width: 700px;
    list-style-type: none;
    padding: 0;
    position: relative;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    grid-row-gap: 2px;
    top: 25px;
    
  }

  *::-webkit-scrollbar {
    display: none;
  }

  ul > li {
    min-height: 35px;
    position: relative;
    height: auto;
    width: 100%;
    box-shadow: 0 2px 0 var(--bgborder);
    background-color: var(--yellow);
  }

  ul > li:nth-child(even) {
    background-color: var(--blue);
  }

  li>div {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 10px;
    display: grid;
    grid-template-columns: 23% 33% 0;
    align-items: center;
    line-height: 10%;
  }

  @media screen and (max-width: 500px) {
    div>a:nth-child(odd) {
      display: none;
    }
    li>div {
      grid-template-columns: 40% 50%;
    }
   
  }
@media screen and (max-width: 1050px) {
 img {
      display: none;
    }
}
  a:link {
    color: lightgreen;
    background-color: transparent;
    text-decoration: none;
    text-shadow: -1px -1px 0 #011, 1px -1px 0 #011, -1px 1px 0 #011, 1px 1px 0 #011;
  }

a:visited {
  color: #fffaea;
  text-shadow: none;
  font-weight: default;
}

  a:hover {
    color: var(--hoverpink);
    text-shadow: var(--anchorshadow);
    
  }

  a:active {
    color: red;
    background-color: transparent;
    text-decoration: underline;
    text-shadow: var(--anchorshadow);
  }

  switch {
    height: 50px;
    width: 50px;
    display: block;

    position: absolute;
  }

  hr {
    position: relative;
    width: 60vw;
    max-width: 700px;
    border: 2px solid;
    border-radius: 3px;
    margin-bottom: 25px;
  }

  .title, details, summary {
    border: none;
    text-align: center;
    margin-bottom: 25px;
  
  }
summary {
  font-size: 30px;
  cursor: pointer;
}

  #main>p, details > p {
    position: relative;
    max-width: 600px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    min-width: 360px;
    text-align: left;
  }

ol, form{
  max-width: 500px;
  position: relative;
  margin: 10px auto;
  background-color: rgba(0,0,0,0.5);
  border-radius: 3px;
  padding: 10px 25px;
  text-align: left;
}



input{
  display:block;
  width: 90%;
  margin: 0 auto;
}
details>summary {
 display:inline;
  list-style: none;
}
summary::-webkit-details-marker {
  display: none
}

summary::after {
  content: ' ▶';
}
details[open] summary:after {
  content: " ▼";
}
