:root {
  --blue: #dbeaff;
  --yellow: #fffaea;
  --pink: #fceafa;
  --brown: #35281e;
  --bgborder: var(--brown);
  --anchorshadow: 0 0 1px #d98cd9, 0 0 2px #ec93ec, 0 0 4px #ffafff, 0 0 8px #eb9bff, 0 0 12px #e381ff;
  --bggradient: linear-gradient(160deg, var(--blue) 18%, var(--yellow) 51%, var(--pink) 81%);
  --bggradient-dark: linear-gradient(160deg, #AD1A6B, #9823e7, #AD1A6B);
  --yellowfocus: #ffebe4;
  --color: var(--brown);
}
:root[data-theme='dark'] {
  --bggradient: var(--bggradient-dark);
  --blue: #AD1A6B;
  --yellow: #E7A523;
  --pink: #C16B1F;
  --bgborder: #fffaea;
  --color: #fffaea;
}
html {
  height: 120vh;
  width: 100vw;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", Avenir, "Nimbus Sans L", Roboto, Noto, "Segoe UI", Arial, Helvetica, "Helvetica Neue", sans-serif;
  font-weight: bold;
  height: auto;
  position: absolute;
  margin: 0;
  background: var(--bggradient);
  color: var(--color);
  overflow-y: scroll;
  width: 100%;
}
*::-webkit-scrollbar {
  display: none;
}
#siteContainer,summary {
  margin: 0 auto;
  border: 2px solid var(--bgborder);
  border-radius: var(--round);
  max-width: 700px;
  list-style-type: none;
  position: relative;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 2px;
}
ul > li {
  min-height: 35px;
  position: relative;
  box-shadow: 0 2px 0 var(--bgborder);
  background-color: var(--yellow);
  width: 100%;
}
ul > li:nth-child(even) {
  background-color: var(--blue);
}
li > div {
  width: 100%;
  height: 100%;
  position: absolute;
  display: grid;
  grid-template-columns: 23% 33% 0;
  align-items: center;
  line-height: 10%;
}
@media screen and (max-width: 500px) {
  div > a:nth-child(odd) {
    display: none;
  }
  li > div {
    grid-template-columns: 40% 50%;
  }
}
@media screen and (max-width: 1050px) {
  img {
    display: none;
  }
}
a:link {
    color: lightgreen;
    background-color: transparent;
    text-decoration: none;
    text-shadow: -1px -1px 0 #011, 1px -1px 0 #011, -1px 1px 0 #011, 1px 1px 0 #011;
  }
a:visited {
  color: #fffaea;
}
a:hover {
    color: var(--hoverpink);
    text-shadow: var(--anchorshadow);
    
  }
hr {
  position: relative;
  width: 60vw;
  max-width: 700px;
  border: 2px solid;
  border-radius: 3px;
  margin-bottom: 25px;
}
.title, details, summary {
  border: none;
  text-align: center;
  margin-bottom: 25px;
}
summary {
  font-size: 30px;
  cursor: pointer;
}
ol{
  max-width: 500px;
  margin: 5px auto;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px;

  text-align: left;
}
summary::after {
  display: inline;
  content: ' ▶';
}
details[open] summary::after {
  content: " ▼";
}
p{
  padding: 10px;
  margin: 0 auto;
  max-width: 700px;
}
ul {padding:0;}
li > div > p {
  margin: 0 0 0 5px;
}
details>summary {
 display:inline;
  list-style: none;
}
summary::-webkit-details-marker {
  display: none
}
